<div class="layui-fluid layui-anim febs-anim" id="febs-site" lay-title="定值表站点管理">
  <div class="layui-row layui-col-space8 febs-container">
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" lay-filter="site-table-form" id="site-table-form">
            <div class="layui-row">
              <div class="layui-col-md8 layui-col-sm9 layui-col-xs9">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm">站点</label>
                    <div class="layui-input-inline">
                      <input type="text" name="siteName" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                  <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                  <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                     shiro:hasAnyPermissions="site:add,site:delete,site:export">
                  <i class="layui-icon">&#xe875;</i>
                </div>
              </div>
            </div>
          </form>
          <div class="eleTree siteTree" lay-filter="siteTree" style="margin-left: 1rem"></div>
        </div>
      </div>
    </div>
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header" id="form-header">新增站点</div>
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" action="" lay-filter="site-form">
            <div class="layui-form-item febs-hide">
              <label class="layui-form-label febs-form-item-require">ID：</label>
              <div class="layui-input-block">
                <input type="text" name="siteId" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">上级ID：</label>
              <div class="layui-input-block">
                <input type="text" value="" name="parentId" readonly class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label febs-form-item-require">名称：</label>
              <div class="layui-input-block">
                <input type="text" name="siteName" autocomplete="off" class="layui-input"
                       minlength="2" maxlength="10" lay-verify="range">
              </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--              <label class="layui-form-label febs-form-item-require">类型：</label>-->
<!--              <div class="layui-input-block">-->
<!--                <input type="radio" name="type" lay-filter="site-type" value="0" title="菜单" checked="">-->
<!--                <input type="radio" name="type" lay-filter="site-type" value="1" title="按钮">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--              <label class="layui-form-label">图标：</label>-->
<!--              <div class="layui-input-block">-->
<!--                <input type="text" name="icon" autocomplete="off" class="layui-input"-->
<!--                       maxlength="50" lay-verify="range">-->
<!--              </div>-->
<!--            </div>-->
            <div class="layui-form-item">
              <label class="layui-form-label">站点编码：</label>
              <div class="layui-input-block">
                <input type="text" name="siteCode" autocomplete="off" class="layui-input"
                       maxlength="50" lay-verify="range">
              </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--              <label class="layui-form-label">权限：</label>-->
<!--              <div class="layui-input-block">-->
<!--                <input type="text" name="perms" autocomplete="off" class="layui-input"-->
<!--                       maxlength="50" lay-verify="range">-->
<!--              </div>-->
<!--            </div>-->
            <div class="layui-form-item">
              <label class="layui-form-label">排序：</label>
              <div class="layui-input-block">
                <input type="text" name="orderNum" autocomplete="off" class="layui-input"
                       lay-verify="number">
              </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--&lt;!&ndash;              <label class="layui-form-label">定值表：</label>&ndash;&gt;-->
<!--              <table class="layui-hide" id="test-dropdown-table" lay-filter="test-dropdown-table"></table>-->
<!--            </div>-->

            <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
            <button class="layui-btn febs-hide" lay-submit="" lay-filter="site-form-submit"
                    id="submit-form"></button>
          </form>
        </div>
        <div class="layui-card-footer">
          <button class="layui-btn" id="fixedValue">定值表</button>
          <button class="layui-btn" id="submit">保存</button>
        </div>
      </div>
    </div>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" lay-filter="fixedvalue-table-form">
            <table class="layui-hide" id="test-dropdown-table" lay-filter="test-dropdown-table"></table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-th-inline="none" type="text/javascript">
  layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate', 'util', 'layer', 'table'], function () {
    var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-site'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $submit = $view.find('#submit'),
            $searchForm = $view.find('#site-table-form'),
            $siteName = $searchForm.find('input[name="siteName"]'),
            $type = $view.find('input[type="radio"][name="type"]'),
            $icon = $view.find('input[name="icon"]'),
            $icon_parent = $icon.parents('.layui-form-item'),
            $siteCode = $view.find('input[name="siteCode"]'),
            $siteCode_parent = $siteCode.parents('.layui-form-item'),
            $order = $view.find('input[name="orderNum"]'),
            $order_parent = $order.parents('.layui-form-item'),
            $header = $view.find('#form-header'),
            _currentsiteData,
            _selectNode,
            _siteTree,
            tableIns;

    form.verify(validate);
    form.render();

    dropdown.render({
      elem: $view.find('.action-more'),
      click: function (name, elem, event) {
        if (name === 'add') {
          reset();
          var selected = _siteTree.getChecked(false, true);
          if (selected.length > 1) {
            febs.alert.warn('只能选择一个节点作为父级！');
            return;
          }
          if (selected[0] && selected[0].type === '1') {
            febs.alert.warn('不能选择按钮作为父级！');
            return;
          }
          form.val("site-form", {
            "parentId": selected[0] ? selected[0].id : ''
          });
        }
        if (name === 'delete') {
          var checked = _siteTree.getChecked(false, true);
          if (checked.length < 1) {
            febs.alert.warn('请勾选需要删除的站点');
            return;
          }
          var siteIds = [];
          layui.each(checked, function (key, item) {
            siteIds.push(item.id)
          });
          febs.modal.confirm('提示', '当您点击确定按钮后，这些记录将会被彻底删除，如果其包含子记录，也将一并删除！', function () {
            febs.get(ctx + 'site/delete/' + siteIds.join(','), null, function () {
              febs.alert.success('删除成功！');
              reloadsiteTree();
              reset();
            })
          });
        }
        if (name === 'export') {
          febs.download(ctx + 'site/excel', {
            "siteName": $siteName.val().trim()
          }, '站点信息表.xlsx');
        }
      },
      options: [{
        name: 'add',
        title: '新增',
        perms: 'site:add'
      }, {
        name: 'delete',
        title: '删除',
        perms: 'site:delete'
      }, {
        name: 'export',
        title: '导出Excel',
        perms: 'site:export'
      }]
    });

    _siteTree = rendersiteTree();

    eleTree.on("nodeClick(siteTree)", function (d) {
      var data = d.data.currentData.data;
      _currentsiteData = data;
      $type.attr("disabled", true);
      // var type = data.type;
      // handleTypeChange(type);
      $header.text('修改站点');
      fixedTableRender(data.siteId);
      form.val("site-form", {
        "icon": data.icon,
        "siteCode": data.siteCode,
        "orderNum": data.orderNum,
        "type": data.type,
        "siteName": data.siteName,
        "perms": data.perms,
        "parentId": data.parentId,
        "siteId": data.siteId
      });
    });

    form.on("radio(site-type)", function (data) {
      handleTypeChange(data.value);
    });

    $reset.on('click', function () {
      $siteName.val('');
      reloadsiteTree();
      reset();
    });

    $query.on('click', function () {
      reloadsiteTree();
      reset();
    });

    $submit.on('click', function () {
      $view.find('#submit-form').trigger('click');
    });

    $icon.focus(function () {
      febs.modal.open('图标选择', 'others/febs/icon', {
        btn: ['确定'],
        yes: function () {
          var icon = $('#febs-icon').find('.icon-active .icon-name').text();
          if (icon) {
            form.val("site-form", {
              "icon": 'layui-icon-' + icon
            });
          } else {
            form.val("site-form", {
              "icon": ''
            });
          }
          layer.closeAll();
        }
      });
    });

    function reset() {
      $view.find('#reset-form').trigger('click');
      handleTypeChange('0');
      $type.removeAttr("disabled");
    }

    function rendersiteTree() {
      _siteTree = eleTree.render({
        elem: '.siteTree',
        url: ctx + 'site/tree',
        where: {
          "siteName": $siteName.val().trim(),
          "invalidate_ie_cache": new Date()
        },
        accordion: true,
        highlightCurrent: true,
        showCheckbox: true,
        checkStrictly: true,
        renderAfterExpand: false,
        request: {
          name: "title",
          key: "id",
          children: "childs",
          checked: "checked",
          data: "data"
        },
        response: {
          statusName: "code",
          statusCode: 200,
          dataName: "data"
        }
      });
      return _siteTree;
    }

    function reloadsiteTree() {
      _siteTree = rendersiteTree();
    }

    var handleTypeChange = function (type) {
      form.val("site-form", {
        "icon": '',
        "siteCode": '',
        "orderNum": ''
      });
      if (type === '1') {
        $header.text('新增按钮');
        $icon_parent.hide();
        $siteCode_parent.hide();
        $order_parent.hide();
      } else {
        $header.text('新增站点');
        $icon_parent.show();
        $siteCode_parent.show();
        $order_parent.show();

      }
    };

    form.on('submit(site-form-submit)', function (data) {
      if (data.field.siteId && $header.text().indexOf('修改') !== -1) {
        if (febs.nativeEqual(data.field, _currentsiteData)) {
          febs.alert.warn('数据未作任何修改！');
          return false;
        }
        febs.post(ctx + 'site/update', data.field, function () {
          febs.alert.success('修改成功');
          reloadsiteTree();
          reset();
        })
      } else {
        febs.post(ctx + 'site', data.field, function () {
          febs.alert.success('新增成功');
          reloadsiteTree();
          reset();
        })
      }
      return false;
    });

    // 渲染定值表版本
    // var fixTable = layui.use('table', function(siteId){
    //   var table = layui.table;
    //   table.render({
    //     elem: '#test2'
    //     ,url:'/list/site/'+siteId
    //     ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    //     ,cols: [[
    //       {field:'id', width:80, title: 'ID', sort: true}
    //       ,{field:'username', width:80, title: '用户名'}
    //       ,{field:'sex', width:80, title: '性别', sort: true}
    //       ,{field:'city', width:80, title: '城市'}
    //       ,{field:'sign', title: '签名', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
    //       ,{field:'experience', title: '积分', sort: true}
    //       ,{field:'score', title: '评分', sort: true}
    //       ,{field:'classify', title: '职业'}
    //       ,{field:'wealth', width:137, title: '财富', sort: true}
    //     ]]
    //   });
    // });

    var fixedTableRender = function (siteId) {
      // var dropdown2 = layui.dropdown
      //         ,util = layui.util
      //         ,layer = layui.layer
      //         ,table = layui.table
      //         ,$ = layui.jquery;
      var table = layui.table;
      table.render({
        elem: '#test-dropdown-table'
        ,url: '/fixedvalue/list/site'
        ,title: '定值表'
        ,where: {
                  "siteId": siteId
                }
        ,cols: [[
          {type: 'checkbox', fixed: 'left'}
          ,{field:'fixedValueTableId', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
          ,{field:'name', title:'名称', width:200}
          ,{field:'createTime', title:'开始创建时间', width:240}
          ,{field:'createTime', title:'最近更新时间', width:240}
          ,{fixed: 'right', title:'操作', toolbar: '#test-dropdown-toolbar-barDemo', width:160}
        ]]
        ,limits: [999]
        ,page: false
        ,response: {
          statusName: "code",
          statusCode: 200,
          dataName: "data"
        }
      });

      //行工具事件
      table.on('tool(test-dropdown-table)', function(obj){
        var that = this
                ,data = obj.data;
        if(obj.event === 'edit'){
          layer.prompt({
            formType: 2
            ,value: data.email
          }, function(value, index){
            obj.update({
              email: value
            });
            layer.close(index);
          });
        } else if(obj.event === 'more'){
          console.log(obj.event);
          //更多下拉菜单
          dropdown.render({
            elem: that
            ,show: true //外部事件触发即显示
            ,data: [{
              title: 'item 1'
              ,id: 'aaa'
            }, {
              title: 'item 2'
              ,id: 'bbb'
            }, {
              title: '删除'
              ,id: 'del'
            }]
            ,click: function(data, othis){
              //根据 id 做出不同操作
              if(data.id === 'del'){
                layer.confirm('真的删除行么', function(index){
                  obj.del();
                  layer.close(index);
                });
              } else {
                layer.msg('得到表格下拉菜单 id：'+ data.id);
              }
            }
            ,align: 'right' //右对齐弹出（v2.6.8 新增）
            ,style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
          });
        }
      });
    }

  });
</script>
<script type="text/html" id="test-dropdown-toolbar-barDemo">
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>