<div class="layui-fluid layui-anim febs-anim" id="febs-site" lay-title="定值表站点管理">
  <div class="layui-row layui-col-space8 febs-container">
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" lay-filter="site-table-form" id="site-table-form">
            <div class="layui-row">
              <div class="layui-col-md8 layui-col-sm9 layui-col-xs9">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <label class="layui-form-label layui-form-label-sm">站点</label>
                    <div class="layui-input-inline">
                      <input type="text" name="siteName" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-col-md4 layui-col-sm12 layui-col-xs12 table-action-area">
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                  <i class="layui-icon">&#xe848;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                  <i class="layui-icon">&#xe79b;</i>
                </div>
                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                     shiro:hasAnyPermissions="site:add,site:delete,site:export">
                  <i class="layui-icon">&#xe875;</i>
                </div>
              </div>
            </div>
          </form>
          <div class="eleTree siteTree" lay-filter="siteTree" style="margin-left: 1rem"></div>
        </div>
      </div>
    </div>
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header" id="form-header">新增站点</div>
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" action="" lay-filter="site-form">
            <div class="layui-form-item febs-hide">
              <label class="layui-form-label febs-form-item-require">ID：</label>
              <div class="layui-input-block">
                <input type="text" name="siteId" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">上级ID：</label>
              <div class="layui-input-block">
                <input type="text" value="" name="parentId" readonly class="layui-input">
              </div>
            </div>
            <input class="febs-hide" name="siteId" id="siteIdHiden">
            <div class="layui-form-item">
              <label class="layui-form-label febs-form-item-require">名称：</label>
              <div class="layui-input-block">
                <input type="text" name="siteName" autocomplete="off" class="layui-input"
                       minlength="2" maxlength="10" lay-verify="range">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">站点编码：</label>
              <div class="layui-input-block">
                <input type="text" name="siteCode" autocomplete="off" class="layui-input"
                       maxlength="50" lay-verify="range">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">排序：</label>
              <div class="layui-input-block">
                <input type="text" name="orderNum" autocomplete="off" class="layui-input"
                       lay-verify="number">
              </div>
            </div>

            <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
            <button class="layui-btn febs-hide" lay-submit="" lay-filter="site-form-submit"
                    id="submit-form"></button>
          </form>
        </div>
        <div class="layui-card-footer">
          <button type="button" class="layui-btn" id="fixedValueUpload"><i class="layui-icon"></i>上传定值表</button>
          <button class="layui-btn" id="submit">保存</button>
        </div>
      </div>
    </div>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body febs-table-full">
          <form class="layui-form layui-table-form" lay-filter="fixedvalue-table-form">
            <table class="layui-hide" id="test-dropdown-table" lay-filter="test-dropdown-table"></table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.2/base64.min.js"></script>
<script data-th-inline="none" type="text/javascript">
  layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate', 'util', 'layer', 'table', 'layedit', 'upload', 'layer'], function () {
    var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            upload = layui.upload,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            layer = layui.layer,
            $view = $('#febs-site'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $submit = $view.find('#submit'),
            $searchForm = $view.find('#site-table-form'),
            $siteName = $searchForm.find('input[name="siteName"]'),
            $type = $view.find('input[type="radio"][name="type"]'),
            $icon = $view.find('input[name="icon"]'),
            $icon_parent = $icon.parents('.layui-form-item'),
            $siteCode = $view.find('input[name="siteCode"]'),
            $siteCode_parent = $siteCode.parents('.layui-form-item'),
            $order = $view.find('input[name="orderNum"]'),
            $order_parent = $order.parents('.layui-form-item'),
            $header = $view.find('#form-header'),
            _currentsiteData,
            _selectNode,
            _siteTree,
            tableIns;

    form.verify(validate);
    form.render();

    //执行实例
    var uploadInst = upload.render({
      elem: '#fixedValueUpload' //绑定元素
      ,url: ctx + 'fixedvalue/import' //上传接口
      ,accept: 'file'
      , before: function () {
        console.log($('#siteIdHiden').val())
        this.data = {
          siteId: $('#siteIdHiden').val()
        }
      }
      ,done: function(res){
        layui.use('layer', function(){
          if (res.code === 400|| res.code===500) {
            var layer = layui.layer;
            layer.msg(res.message, {
              time: 6000, //6s后自动关闭
              icon:2
            });
          } else {
            var layer = layui.layer;
            var table = layui.table;
            table.reload('test-dropdown-table');
            layer.msg('上传成功！', {
              time: 6000, //6s后自动关闭
              icon: 1
            });
          }
        });
      }
      ,error: function(){
        //请求异常回调
      }
    });

    dropdown.render({
      elem: $view.find('.action-more'),
      click: function (name, elem, event) {
        if (name === 'add') {
          reset();
          var selected = _siteTree.getChecked(false, true);
          if (selected.length > 1) {
            febs.alert.warn('只能选择一个节点作为父级！');
            return;
          }
          if (selected[0] && selected[0].type === '1') {
            febs.alert.warn('不能选择按钮作为父级！');
            return;
          }
          form.val("site-form", {
            "parentId": selected[0] ? selected[0].id : ''
          });
        }
        if (name === 'delete') {
          var checked = _siteTree.getChecked(false, true);
          if (checked.length < 1) {
            febs.alert.warn('请勾选需要删除的站点');
            return;
          }
          var siteIds = [];
          layui.each(checked, function (key, item) {
            siteIds.push(item.id)
          });
          febs.modal.confirm('提示', '当您点击确定按钮后，这些记录将会被彻底删除，如果其包含子记录，也将一并删除！', function () {
            febs.get(ctx + 'site/delete/' + siteIds.join(','), null, function () {
              febs.alert.success('删除成功！');
              reloadsiteTree();
              reset();
            })
          });
        }
        if (name === 'export') {
          febs.download(ctx + 'site/excel', {
            "siteName": $siteName.val().trim()
          }, '站点信息表.xlsx');
        }
      },
      options: [{
        name: 'add',
        title: '新增',
        perms: 'site:add'
      }, {
        name: 'delete',
        title: '删除',
        perms: 'site:delete'
      }, {
        name: 'export',
        title: '导出Excel',
        perms: 'site:export'
      }]
    });

    _siteTree = rendersiteTree();

    eleTree.on("nodeClick(siteTree)", function (d) {
      var data = d.data.currentData.data;
      _currentsiteData = data;
      $type.attr("disabled", true);
      $header.text('修改站点');
      console.log(data.versions);
      fixedTableRender(data.siteId);
      form.render('select');
      form.val("site-form", {
        "icon": data.icon,
        "siteCode": data.siteCode,
        "orderNum": data.orderNum,
        "type": data.type,
        "siteName": data.siteName,
        "perms": data.perms,
        "parentId": data.parentId,
        "siteId": data.siteId
      });
    });


    form.on("radio(site-type)", function (data) {
      handleTypeChange(data.value);
    });

    $reset.on('click', function () {
      $siteName.val('');
      reloadsiteTree();
      reset();
    });

    $query.on('click', function () {
      reloadsiteTree();
      reset();
    });

    $submit.on('click', function () {
      $view.find('#submit-form').trigger('click');
    });

    $icon.focus(function () {
      febs.modal.open('图标选择', 'others/febs/icon', {
        btn: ['确定'],
        yes: function () {
          var icon = $('#febs-icon').find('.icon-active .icon-name').text();
          if (icon) {
            form.val("site-form", {
              "icon": 'layui-icon-' + icon
            });
          } else {
            form.val("site-form", {
              "icon": ''
            });
          }
          layer.closeAll();
        }
      });
    });

    function selectDemo(a) {
      console.log($(a).attr('data-id'));
      console.log($(a).val());
    }

    function reset() {
      $view.find('#reset-form').trigger('click');
      handleTypeChange('0');
      $type.removeAttr("disabled");
    }

    function rendersiteTree() {
      _siteTree = eleTree.render({
        elem: '.siteTree',
        url: ctx + 'site/tree',
        where: {
          "siteName": $siteName.val().trim(),
          "invalidate_ie_cache": new Date()
        },
        accordion: true,
        highlightCurrent: true,
        showCheckbox: true,
        checkStrictly: true,
        renderAfterExpand: false,
        request: {
          name: "title",
          key: "id",
          children: "childs",
          checked: "checked",
          data: "data"
        },
        response: {
          statusName: "code",
          statusCode: 200,
          dataName: "data"
        }
      });
      return _siteTree;
    }

    function reloadsiteTree() {
      _siteTree = rendersiteTree();
    }

    var handleTypeChange = function (type) {
      form.val("site-form", {
        "icon": '',
        "siteCode": '',
        "orderNum": ''
      });
      if (type === '1') {
        $header.text('新增按钮');
        $icon_parent.hide();
        $siteCode_parent.hide();
        $order_parent.hide();
      } else {
        $header.text('新增站点');
        $icon_parent.show();
        $siteCode_parent.show();
        $order_parent.show();

      }
    };

    form.on('submit(site-form-submit)', function (data) {
      if (data.field.siteId && $header.text().indexOf('修改') !== -1) {
        if (febs.nativeEqual(data.field, _currentsiteData)) {
          febs.alert.warn('数据未作任何修改！');
          return false;
        }
        febs.post(ctx + 'site/update', data.field, function () {
          febs.alert.success('修改成功');
          reloadsiteTree();
          reset();
        })
      } else {
        febs.post(ctx + 'site', data.field, function () {
          febs.alert.success('新增成功');
          reloadsiteTree();
          reset();
        })
      }
      return false;
    });

    var fixedTableRender = function (siteId) {
      var table = layui.table;
      table.render({
        elem: '#test-dropdown-table'
        ,url: '/fixedvalue/v2/list/site'
        ,title: '定值表'
        ,toolbar: '#toolbarDemo'
        ,where: {
                  "siteId": siteId
                }
        ,cols: [[
          {type: 'checkbox', fixed: 'left'}
          ,{field:'fixedValueVersionId', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
          ,{field:'name', title:'名称', width:200}
          // ,{field:'versions', title:'版本选择', width:240, templet: function (data) {
          //     console.log(data);
          //     var version = data.versions;
          //     var str = '<input id="test" name="test" hidden value=""/><select lay-filter="pengtest2" id="pengtest2" textId="test" name="pengtest2" class="selectDemo" lay-ignore>';
          //     $.each(version, function (index, item) {
          //       if(index === 0) {
          //         str+='<option value='+item.fixValueVersionId+' selected="selected">'+item.createTime+'</option>';
          //       }else {
          //         str+='<option value='+item.fixValueVersionId+'>'+item.createTime+'</option>';
          //       }
          //     });
          //     str+='</select>';
          //     return str;
          //   }}
          ,{field:'createTime', title:'开始创建时间', width:240}
          ,{field:'firstTime', title:'初次更新时间', width:240}
          ,{fixed: 'right', title:'操作', toolbar: '#test-dropdown-toolbar-barDemo', width:240}
        ]]
        ,limits: [999]
        ,page: false
        ,response: {
          statusName: "code",
          statusCode: 200,
          dataName: "data"
        }
      });
      // form.render("select");
      // table.on('select(pengtest2)', function(data){
      //   console.log(this);
      //   var elem = data.elem;
      //   var textId = elem.getAttribute("textId");
      //   console.log(this.innerText);
      //   document.getElementById(textId).value = this.innerText;
      // });

      //行工具事件
      table.on('tool(test-dropdown-table)', function(obj){
        var that = this
                ,data = obj.data;
        if(obj.event === 'edit'){
          layer.open({
            type: 1,
            id: 'Layer',
            title: '故障报文',
            area: ['740px', '500px'],
            shade: 0,
            anim: -1,
            content: '<table class="layui-hide" id="peng2" lay-filter="peng2"></table>',
            success: function(layero, index) {
              table.render({
                elem: '#peng2',
                id: 'Message2',
                toolbar: '#toolbarDemo2',
                url: '/devicefailure/table/page',
                where: {
                          "fixedValueVersionId": data.fixedValueVersionId,
                        },
                cols: [[
                  {type: 'checkbox', fixed: 'left'}
                  ,{field:'deviceTableId', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                  ,{field:'name', title:'表名称', width:200}
                  ,{field:'siteName', title:'被控站名称', width:200}
                  ,{field:'deviceName', title:'设备名称', width:200}
                  ,{field:'failureTime', title:'故障时间', width:240}
                  ,{field:'createTime', title:'创建时间', width:240}
                  // ,{field:'fixedValueVersionId', title:'最近更新时间', width:240}
                  ,{fixed: 'right', title:'操作', toolbar: '#test-dropdown-toolbar-barDemo2', width:240}
                ]],
                limit: 8,
                page: true,
                request: {
                  pageName: "pageNum",
                  limitName: "pageSize"
                },
                response: {
                  statusName: "code",
                  statusCode: 200,
                  dataName: "data"
                }
              });
              //头工具栏事件
              table.on('toolbar(peng2)', function(obj){
                var that = this
                        ,data = obj.data;
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                  case 'batchDelete':
                    var deviceTableIds = [];
                    layui.each(checkStatus.data, function (key, item) {
                      if (item.deviceTableId) {
                        deviceTableIds.push(item.deviceTableId);
                      }
                    });
                    console.log(JSON.stringify(deviceTableIds));
                    febs.get(ctx + 'fixedvalue/table/batch/device/failure/'+deviceTableIds, null, function () {
                      febs.alert.success('批量删除故障报文成功');
                      $query.click();
                    });
                    break;
                  case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
                };
              });
              table.on('tool(peng2)', function(subobj){
                if (subobj.event === 'download') {
                  var param = {};
                  param.resourceId = subobj.data.resourceId;
                  febs.download('/resource/download', param, subobj.data.name);
                  // window.open('/resource/download?resourceId='+subobj.data.resourceId);
                }else if (subobj.event === 'preview') {
                  var fileName = subobj.data.name;
                  var first = fileName.lastIndexOf(".");//取到文件名开始到最后一个点的长度
                  var namelength = fileName.length;//取到文件名长度
                  var filesuffix = fileName.substring(first, namelength );//截取获得后缀名
                  let timestamp = new Date().getTime();
                  layer.open({
                    type:2,
                    // area: ['900px', '700px'],
                    area: ['80%', '70%'],
                    fixed: true,
                    maxmin: true,
                    // content: '/resource/preview?resourceId='+data.resourceId
                    // content: '/resource/preview?resourceId='+subobj.data.resourceId

                    content: 'http://121.36.253.95:8012/onlinePreview?url='+encodeURIComponent(Base64.encode('http://121.36.253.95:8081/resource/download/'+timestamp+filesuffix+'?resourceId='+subobj.data.resourceId))
                  })
                }else if (subobj.event === 'failurepreview') {
                  if(subobj.data.reportResourceId){
                    var param = {};
                    param.resourceId = subobj.data.reportResourceId;
                    febs.download('/resource/download', param, '故障报文分析报告.docx');
                    // window.open('/resource/download?resourceId='+subobj.data.reportResourceId);
                  }else {
                    alert("未生成报告！")
                  }
                }});
            }
          });
        } else if(obj.event === 'download'){
          var param = {};
          param.resourceId = data.resourceId;
          febs.download('/resource/download', param, data.resourceName);
          // window.open('/resource/download?resourceId='+data.resourceId);
        } else if(obj.event === 'preview') {
          var fileName = data.resourceName;
          var first = fileName.lastIndexOf(".");//取到文件名开始到最后一个点的长度
          var namelength = fileName.length;//取到文件名长度
          var filesuffix = fileName.substring(first, namelength );//截取获得后缀名
          let timestamp = new Date().getTime();
          layer.open({
            type:2,
            // area: ['900px', '700px'],
            area: ['80%', '70%'],
            fixed: true,
            maxmin: true,
            // content: '/resource/preview?resourceId='+data.resourceId
            content: 'http://121.36.253.95:8012/onlinePreview?url='+encodeURIComponent(Base64.encode('http://121.36.253.95:8081/resource/download/'+timestamp+filesuffix+'?resourceId='+data.resourceId))
          })
        }
      });

      //头工具栏事件
      table.on('toolbar(test-dropdown-table)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id);
        switch(obj.event){
          case 'deleteFixedValueTable':
            var fixedValueTableIds = [];
            var fixedValueTableVersionIds = [];
            layui.each(checkStatus.data, function (key, item) {
              fixedValueTableIds.push(item.fixedValueTableId);
              if (item.fixedValueVersionId) {
                fixedValueTableVersionIds.push(item.fixedValueVersionId);
              }
            });
            console.log(JSON.stringify(fixedValueTableIds));
            febs.get(ctx + 'fixedvalue/table/batch/' + fixedValueTableIds+'?fixedValueTableVersionIds='+fixedValueTableVersionIds, null, function () {
              var layer = layui.layer;
              table.reload('test-dropdown-table');
              layer.msg('批量删除定值表成功', {
                time: 6000, //6s后自动关闭
                icon:1
              });
            });
            break;
        }
      });
    }
    //指定允许上传的文件类型
    upload.render({
      elem: '#fixedValue'
      ,url: '' //此处配置你自己的上传接口即可
      ,accept: 'file' //普通文件
      ,done: function(res){
        layer.msg('上传成功');
        console.log(res);
      }
    });
  });
</script>
<script type="text/html" id="test-dropdown-toolbar-barDemo">
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit">故障报文</a>
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="download">下载</a>
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="preview">预览</a>
<!--  <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>-->
</script>
<script type="text/html" id="test-dropdown-toolbar-barDemo2">
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="download">下载</a>
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="preview">预览</a>
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="failurepreview">分析报告</a>
</script>
<script type="text/html" id="select">
  <select id="selDemo" name="selDemo" lay-filter="selDemo" class="selectDemo" lay-ignore>
<!--    {{# layui.each(d.versions, function(index, item){ }}-->
<!--    <option value="{{item.fixValueVersionId}}" title="{{item.fixValueVersionId}}">{{item.createTime}}</option>-->
<!--    {{# }); }}-->
  </select>

  <select  class="form-control input-sm" name="category" lay-filter="category" aria-invalid="false">
    <option value="0">请选择运维位置</option>
  </select>
</script>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="deleteFixedValueTable">批量删除</button>
<!--    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
  </div>
</script>

<script type="text/html" id="toolbarDemo2">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="batchDelete">批量删除</button>
  </div>
</script>